@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$fuente_principal: 'Poppins', sans-serif;
$desktop: 1024px;

$black: #000000;
$background1: #a815e2;
$background2: #c860f1;
$white: #ffffff;
